@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700&family=Montserrat:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;

    font-family:'Montserrat',sans-serif;

    background:
    linear-gradient(rgba(245,240,232,0.92),
    rgba(245,240,232,0.92)),
    url("japan.jpg");

    background-size:cover;
    background-position:center;

    display:flex;
    flex-direction:column;
    align-items:center;

    padding:60px 20px;
}

h1{
    font-family:'Cinzel',serif;

    font-size:75px;

    color:#2d2d2d;

    letter-spacing:10px;

    margin-bottom:45px;

    position:relative;
}

h1::after{
    content:"";

    position:absolute;

    left:50%;
    bottom:-12px;

    transform:translateX(-50%);

    width:120px;
    height:3px;

    background:#8b6f47;

    border-radius:20px;
}


table{

    width:95%;
    max-width:1250px;

    border-collapse:collapse;

    background:rgba(255,255,255,0.75);

    backdrop-filter:blur(8px);

    border-radius:25px;

    overflow:hidden;

    box-shadow:
    0 15px 40px rgba(0,0,0,0.10);
}

th{

    background:#2d2d2d;

    color:#f5f0e8;

    padding:24px;

    font-size:20px;

    letter-spacing:3px;

    font-weight:500;

    text-transform:uppercase;
}

td{

    padding:28px;

    text-align:center;

    font-size:17px;

    color:#444;

    border-bottom:1px solid rgba(0,0,0,0.07);

    transition:0.35s ease;
}


tr:hover{

    background:#f3eee6;

    transform:scale(1.01);
}

td:first-child{

    font-size:24px;

    font-weight:700;

    color:#8b6f47;
}


td:nth-child(2){

    line-height:1.9;

    font-weight:400;
}


td:last-child{

    font-size:24px;

    font-weight:700;

    color:#2d2d2d;
}

tr:last-child td{
    border-bottom:none;
}


@media(max-width:900px){

    h1{
        font-size:42px;
        letter-spacing:4px;
        text-align:center;
    }

    table{
        width:100%;
    }

    th{
        font-size:14px;
        padding:15px;
    }

    td{
        font-size:13px;
        padding:15px;
    }

    td:first-child{
        font-size:16px;
    }

    td:last-child{
        font-size:18px;
    }
}